# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    rebase-strategy: auto
    labels: ["dependencies"]

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    rebase-strategy: auto
    versioning-strategy: increase
    labels: ["dependencies"]
